.arbeidsgiver-header-datovelgere {
    > .skjemaelement {
    display: inline-block;
    
        .datovelger-fra {
            margin-right: 1rem;
        }

        .datovelger-til {
            margin-left: 1rem;
        }
    }
}

.arbeidsgiver-periode-search-header-label {
    margin-bottom: .5rem;
}
